- const title = '安田 祐平'
- const description = 'ウェブフロントエンドデベロッパーです。主にHTML / CSS / JavaScript、アクセシビリティ、SPAに関心があります。Web Componentsが普及した世界を待ち望んでいます。'
- const baseUrl = 'https://yuheiy.com'

mixin yuhei-avator-fallback
    svg(viewBox="0 0 1024 1024" preserveAspectRatio="xMidYMid slice" role="img" style="vertical-align: bottom;")&attributes(attributes)
        rect(width="1024" height="1024" fill="var(--yuhei-avator__color-bg, var(--color-bg))")
        polyline(points="0,512 73.54971954521194,431.1902785303265 122.72820455247206,474.0234370977362 221.89670591651674,486.4966712576812 274.4870355758788,509.33824160530907 324.4819618223787,458.14709695815117 350.05123142115804,382.9648637131386 415.0791777598125,468.4404967863335 446.40161081928284,395.3421894107192 470.9210881016393,352.4658289042135 568.6583288858965,307.96310333684437 615.4126584995832,273.6076045219823 645.392571366348,204.24067539418593 696.8765710394522,281.6853395357631 761.6670996486447,305.743212095924 778.0676286886992,213.93645959137086 807.5667035251679,128.35716487369888 878.7858966452903,217.58500564912913 904.8466371441929,242.1612355896261 916.8943761629131,241.02849259447368 999.5919421507832,164.24939927405364 1024.5976214961554,138.01122465108094" fill="none" stroke="var(--yuhei-avator__color-fg, var(--color-fg))" stroke-width="16" stroke-linecap="square")
        polyline(points="0,512 101.80120013711128,600.2023637368904 146.1589943092914,666.2878218681473 235.83605002704059,585.9740296841322 252.899442362377,563.264407055704 282.3988476411439,571.1951994144179 293.1222284877105,614.2071570523509 354.487371837084,704.6414126102529 401.4916138511586,707.0416113008425 465.49418301299346,614.6606031495987 557.351598434932,636.5162608209303 588.7256408432398,543.6527252339489 644.8990693640733,495.75898037009085 676.0770173958138,572.4321412670239 771.6121248637513,484.32335277476335 821.7532146745582,471.3878330634078 901.187540362158,377.3732032740031 916.5419977854733,379.27656154169614 1003.4051945968644,317.4471334343198 1095.106032571196,231.23129807089362" fill="none" stroke="var(--yuhei-avator__color-fg, var(--color-fg))" stroke-width="16" stroke-linecap="square")
        polyline(points="0,512 49.26851908766137,586.9248729822475 123.74341256341017,612.91671464446 176.10718360092852,563.5481030392868 192.98062112889647,641.6363553034638 206.84438478674332,711.0319924635331 308.83673890269915,684.3152388058189 387.64446017927787,618.102877412896 401.47542249578464,632.429519710437 445.04950731055857,702.5063801867561 467.80970969911215,772.3755564317901 491.07989519690614,833.0166829890004 536.3611818543851,803.3124988776365 617.0287337492351,815.9874829361364 695.1895752640036,838.4437343572782 720.7209041605324,880.1856723393502 772.7282825396653,784.1308076997293 848.8668262903911,845.4664302581232 911.0608807688503,795.2119721451238 997.5013260188252,760.9120111085341 1037.193317407912,707.1403133730777" fill="none" stroke="var(--yuhei-avator__color-fg, var(--color-fg))" stroke-width="16" stroke-linecap="square")

doctype html
html.no-js(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        meta(name="description" content=description)
        meta(name="twitter:card" content="summary")
        meta(property="og:title" content=title)
        meta(property="og:type" content="website")
        meta(property="og:image" content="https://avatars1.githubusercontent.com/u/11547305")
        meta(property="og:url" content=`${baseUrl}/`)
        meta(property="og:description" content=description)
        meta(property="og:site_name" content=title)
        meta(property="og:locale" content="ja_JP")
        link(rel="canonical" href="/")
        style
            include main.css
        script(type="module")
            include main.js
        script(nomodule src="/nomodule.js" defer)
        script.
            (function(d) {
                var config = {
                    kitId: 'sjr0raa',
                    scriptTimeout: 3000,
                    async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        template#tmpl-yuhei-avator
            +yuhei-avator-fallback

    body
        yuhei-avator.BgGraphic(aria-hidden="true")
        noscript
            +yuhei-avator-fallback(class="BgGraphic" aria-hidden="true")

        header.PageHeader
            h1.PageHeader-heading
                ruby.PageHeader-ruby
                    rb.PageHeader-rb 安田
                    rp （
                    rt.PageHeader-rt やすだ
                    rp ）
                ruby.PageHeader-ruby
                    rb.PageHeader-rb 祐平
                    rp （
                    rt.PageHeader-rt ゆうへい
                    rp ）
                br
                span.PageHeader-altHeading(lang="en") Yuhei Yasuda
            p.PageHeader-lead= description

        main.Content
            section.Section
                h2.Section-heading 僕について
                .Section-content
                    p
                        | 1995年生まれ。ゆうへいと呼ばれることが多いです。よく
                        a(href="https://twitter.com/_yuheiy") Twitter
                        | にいます。
                        a(href="https://github.com/yuheiy") GitHub
                        | にもいます。
                        a(href="http://www.shiftbrain.com/") 株式会社シフトブレイン
                        | で働いています。
                    p 仕事では普通のウェブサイトをよく作ります。アクセシビリティや運用性を考慮した堅牢な実装が得意です。
                    p 趣味は、Internet Explorerで動かないサイトを作ることです。

            section.Section
                h2.Section-heading ブログ
                .Section-content
                    section
                        h3
                            a(href="http://yuheiy.hatenablog.com/") yuhei blog
                        ol
                            li
                                a(href="http://yuheiy.hatenablog.com/entry/2017/12/24/195435") 【お蕎麦】富士そばへ行く！【安い・早い・うまい】
                            li
                                a(href="http://yuheiy.hatenablog.com/entry/2017/12/21/235948") Reactコンポーネントを単独で使うための細かいテク
                            li
                                a(href="http://yuheiy.hatenablog.com/entry/2017/12/13/234130") Reactコンポーネントを単独で使う
                            li
                                a(href="http://yuheiy.hatenablog.com/entry/2017/11/21/091035") フォーカスリングの役割とマウスユーザーに向けた対応について
                            li
                                a(href="http://yuheiy.hatenablog.com/entry/2017/09/21/190150") cssnextを使うべきか

        footer.PageFooter
            .PageFooter-content
                a.PageFooter-authorLink(href="/" title="yuheiy.com")
                    yuhei-avator.PageFooter-authorImage
                    noscript
                        +yuhei-avator-fallback(class="PageFooter-authorImage")
