meta(name="twitter:card", content="summary")
meta(name="twitter:creator", content= twitter)
meta(property="og:title", content= siteTitle)
meta(property="og:type", content="website")
meta(property="og:image", content= `${scheme}//${domain}/${cover}`)
meta(property="og:url", content= `${scheme}//${domain}${canonical}`)
meta(property="og:description", content= description)
meta(property="og:site_name", content= siteTitle)
meta(property="og:locale", content= `${lang}_${region}`)
